<div class="main-wrapper">
    Write a comment...
<%= form_for(@park_comment, :html => {:class => "form"}) do |f| %>
  <div class="input-group">
    <%= f.label 'your comment' %>
    <%= f.text_field :content %>
  </div>
  <%= f.hidden_field :id, :value => @park_comment.id %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :park_id, :value => params[:park_id] %>
  <%= f.hidden_field :redirect, :value => @redirect %>
  <%= f.submit %>
<% end %>



</div>
