<<<<<<< HEAD:bark_book/app/views/users/_form.html.erb
<<div class="main-wrapper">

=======
<div class="main-wrapper">
>>>>>>> 160372cad24d91154ab396f17c00a01cdaa6987f:app/views/users/_form.html.erb
<%= form_for @user do |form| %>
 Name: <%= form.text_field :name %></br>
 Email: <%= form.text_field :email %></br>
 Password_digest: <%= form.text_field :password_digest %></br>
 avatar: <%= form.text_field :avatar %>
 </br>
 <%= form.submit %>
<% end %>
</div>
</div>
