<%= form_for( @comment, :html => {:class => "form"}) do |f| %>
  <div class="input-group">
    <%= f.label :content %>
    <%= f.text_field :location %>
  </div>
  <%= f.hidden_field :park_id, :value => park.id %>
  <%= f.submit %>

  dsfjahsldkf;alsdjfal;skdjfa;lskdf
<% end %>
