<div class="main-wrapper">
Join this event!
<%= form_for(@event_comment, :html => {:class => "form"}) do |f| %>
  <div class="input-group">
    <%= f.label 'your comment' %>
    <%= f.text_field :content %>
  </div>
  <%= f.hidden_field :id, :value => @event_comment.id %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :event_id, :value => params[:event_id] %>
  <%= f.submit %>
<% end %>



</div>
